<!-- app home page -->
<!-- welcome message -->
<% if !current_user.nil? && current_user.admin %>
  <h1> Welcome to ezAEP Admin Dashboard! </h1>
<% else %>
  <h1> Welcome to EZ Audience Evaluation Platform</h1>
<% end %>

<!-- product image holder -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <%= image_tag("w0.jpg", height: 500,class: "d-block w-100", alt: "audience") %>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <%= image_tag("w1.jpg", height: 500, class: "d-block w-100", alt: "audience") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("w2.jpg", height:500, class: "d-block w-100", alt: "audience") %>
    </div>
  </div>
</div>

<p> 
  <strong>*Notice:</strong> 
  This web app is for demo only. Do not use your common used email adress and password on this website. Your data is subject to remove after public version is released. 
</p>
<hr/>
<!-- product/developer info -->
<p> Powered by <%= link_to 'NicholasTec. Cloud', 'https://cloud.nicholastec.com', target: :_blank %> @2023.NTC | Webapp_version: v0.12.0 | Visit <%= link_to 'Developer website', 'http://unniitec.github.io', target: :_blank %> </p>
<p> Ohio-State Unniitec. Team (No warranty for this app)</p>


